body{
   background-color:#FFFFFF;
   font-family: 'Nunito', sans-serif;
}


/*********************************first container**********************************/
.first-container{
  background-color:#F7FFE5 ;
  box-sizing: inherit;
  margin: -11px;
  outline: none;
  padding: 0;
}


/******************************** Nav bar ***************************************/
.nav-bar{
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 1241px;
  height: 80px;
  top: 40px;
  left: 90px;
  margin: auto;
  padding: 0 0 0 0;
}

.logo {
    height: 80px;
    margin:0px 0 0px -88px;
}

ul {
    display: flex;
    gap: 50px;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-txt{
    display: flex;
    gap: 50px;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/** contact us **/
.btn {
    background: #F58634;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 177px;
    height: 54px;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    border: solid #F58634 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
 
.btn:hover {
    border: solid #F58634 1px;
    background: #F58634;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

/**********************   **************************/
            
h1 {
  font-family: 'Nunito', sans-serif;
  line-height: 64px;
  font-weight: 700;
  font-size: 48px;  
  width: 685px;
  height: 128px;

}

.h1_txt{
    margin:158px 0 0 369px;
   
}



.img{
    margin:-210px 0 0 56%;

}

/***************************** form ******************************/
input{
    background-color:#FFFAF7;
    border: 0.2px solid rgba(30, 30, 30, 1)
}


.submit {
    background: #F58634;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    width: 177px;
    height: 54px;
    border-radius: 100px;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    border: solid #F58634 0;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
 
.submit:hover {
    border: solid #F58634 1px;
    background: #F58634;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}